@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Manrope:wght@500&family=Poppins:wght@600&family=Victor+Mono&display=swap');
h1{
    font-family: 'Poppins', monospace;
    font-size: 3rem;
    margin-bottom: 3rem;
    font-family: 'Manrope', cursive;
    font-size: 7rem;
    background-image: linear-gradient(45deg, #f60909, #dcdce2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

#gon{
    background-color: rgb(58, 57, 57);
}

#textarea{
    background-color: rgb(190, 188, 186);
    font-family: 'Victor Mono', monospace;
    color: black;
}
#textarea:hover{
    cursor:pointer;
    transition:0.3s;
}

/* .gradient-text {
    background-image: linear-gradient(45deg, #1d1c1c, #a4a4ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
} */