  @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:wght@600&display=swap');
h1{
    font-family: 'Bungee Spice', cursive;
    font-size: 5rem;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}