.preloader{
    height: 100vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 55;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */

}

.preloader > .texts-container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 200px;
    font-size: 25px;
    font-weight: 800;
    font-family: 'Poppins', cursive;
    overflow:hidden;
}