<%-include('partials/navbar.ejs')-%>
<br>
<form action="/result" method="post">
<div id="flexer">
<textarea id="message" rows="4" class=" code-editor block p-2.5 w text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="code" placeholder="Write your code here..."></textarea>
<button type="submit">Compile</button>
<div class="code-editor block p-2.5 w text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></div>
</div>
</form>
<br>


<%-include('partials/footer.ejs')-%>
