<img class="feature-img" src="" alt="IMG_TO_BE_ADDED">

<h1 class="w-60">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni, quo? Ullam aliquam quasi aliquid labore, cum assumenda, ad officiis quidem voluptate, officia reiciendis. Distinctio voluptatem esse odio cum similique quod non sunt vero unde!</h1>