
<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <div>
        <img class="img-lang" src="dart2.png" alt="">
    </div>
    <div>
        <img class="img-lang comesoon" src="java.png" alt="">
    </div>
    <div>
        <img class="img-lang" src="c-.png" alt="">
    </div>
    <div>
        <img class="img-lang" src="c.png" alt="">
    </div>
    <div>
        <img class="img-lang" src="c-sharp.png" alt="">
    </div>
    <div>
        <img class="img-lang" src="go.png" alt="">
    </div>
    <div>
        <img class="img-lang" src="python-logo-notext.svg.png" alt="">
    </div>
    <div>
        <img class="img-lang" src="rust-tutorial.jpg" alt="">
    </div>
    <div>
        <img class="img-lang" src="scala.png" alt="">
    </div>
    <div>
        <img class="img-lang" src="comingsoon.jpg" alt="">
    </div>
    <div>
        <img class="img-lang" src="comingsoon.jpg" alt="">
    </div>
    <div>
        <img class="img-lang" src="comingsoon.jpg" alt="">
    </div>
</div>
